@model WebApi.Models.Statistique

<h3>@Html.DisplayFor(model => model.TitreFormulaire)</h3>

<table class="table">
    <thead>
        <tr>
            <td>
                <b>Statistiques Globales</b>
            </td>
        </tr>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.NbSondes) Personne(s) a/ont répondu à ce questionnaire
            </td>
        </tr>
        <tr>
            <td><b>Age</b></td>
        </tr>
        @foreach(var item in Model.TauxAge)
        {
        <tr>
            <td>
                @Html.Display(item.Age.ToString())
            </td>
            <td>
                @Html.Display(item.Taux .ToString())
            </td>
        </tr>
        }
    </tbody>
  
</table>

